.step3{
	margin:10px;
	display:block;
}


.step3 .contents_contents_container{
    margin: 0;
}

.step3 .swiper-wrap{
    /* margin-top: 100px; */
    margin-bottom: 0 !important;
    width: 100%;
}

.step3 .swiper {
    position: relative;
    width: 100%;
    max-width: 780px !important;
    margin: 10px 10px;
}

.step3 .swiper-slide {
    text-align: -webkit-left;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: table-cell;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    
}

.step3 .swiper-button-next, .step .swiper-button-prev{   
    width: 50px;   
    height: 50px;   
    border-radius: 50%;
    /* border: 1px solid #000; */
    color : #242424;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 4%);    
    background-color: #fff;
    transition: all 0.2s;
}

.step3 .swiper-button-next::after, .step .swiper-button-prev::after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px !important;
    font-weight: 900;
}

.step3 .swiper-pagination{
    position: absolute;
    left: 50% !important;
    border-radius: 30px;
    transform: translateX(-50%);
    border: 1px solid #000;
    width: 60px !important;
}

.step3 .swiper-pagination span{
    height: 40px;    
}

.step3 .contents_contents_profile div{
    border: none;
}

.step3 .txt{
    text-align-last: left;
}

.step3 .slide{
    box-shadow: none !important;
}

.step3 .slide ul{
    width: 100%;
    height: 100%;
    padding: 0px;
}

.step3 .slide li{    
    cursor: pointer;
    margin: 0 auto;
    width: 98%;
    
    margin-bottom: 10px;
    padding: 0 0px;
    border-bottom: 1px solid #F8F8F8;
}



.step3 .slide li:first-child{
    margin-top: 6px;
}

.step3 .slide li:last-child{
    margin-bottom: 6px;
}

.step3 .slide li .extends{
    display: none;
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 100%;    
    padding: 20px;
    font-size: 12px;
}

.contents_contents_column {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #F8F8F8;
    margin: 10px 10px;
}

.contents_contents_comment-container {
    margin: 10px 0px;
    display: flex;
}
