.container {
  background: url(../img/loginBG.jpg) no-repeat;
  /* min-width: 100%;
  min-height: 100%; */
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: inherit;
}
.login-error{
	text-align:center;
	color: #fff;
	background: #e87c03;
    border-radius: 4px;
    font-size: 14px;
   	padding : 10px;

}
.error-message-empty-id{
	color: #e87c03;
	font-size: 13px;
	display:none;
}
.error-message-empty-pw{
	color: #e87c03;
	font-size: 13px;
	display:none;
}

.logo-img>a>img {
  /* background-image: url(../img/WATFLICHA-logo.png); */
  background-size: contain;
  display: inline-block;
  width: 175px;
  height: 55px;
  margin-top: 20px;
  margin-left: 20px;
}

.login-box {
  background-color: #000;
  width: 450px;
  padding: 60px 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 10px;
}

.inputBox {
  border: none;
  outline: none;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  margin: 10px 0;
  padding: 16px;
  background-color: #333;
  color: #fff;
}

.errorColor {
  border: 3px solid #800000;
}

.inputBox:hover {
  background-color: #646464;
  caret-color: #ffffff;
}

.inputBox::placeholder {
  color: rgb(216, 216, 216);
}

.input[type=button]:hover {
  cursor: pointer;
  background-color: #ff4500;
  text-decoration: underline;
}

.error-message {
  color: tomato;
}

.login-button {
  background-color: #e50914;
  color: #fff;
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 0px 8px;
  outline: none;
}

.form-bottom {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.login-remember {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.login-remember>input {
  margin: 0;
  padding: 0;
  width: 15px;
}

.login-remember>label {
  padding-left: 5px;
  font-size: 12px;
  cursor: pointer;
}

.login-help-link {
  display: inline-block;
  font-size: 12px;
}

.login-help-link:hover {
  text-decoration: underline;
}

.underline {
  width: 100%;
  border: 1px solid #aaa;
  margin: 30px 0 15px 0;
}

.no-member {
  color: #aaa;
  margin-bottom: 15px;
  text-align: center;
  font-size: 13px;
}

.sign-up-go {
  color: #ddd;
  background-color: #e50914;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.sign-up-go:hover {
  cursor: pointer;
  background-color: #ff4500;
  text-decoration: underline;
}

.active {
  display: block;
  text-indent: 12px;
  color: red;
  font-size: 12px;
}