* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: none;
}

html {
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

.a11y-hidden,
legend {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.bg {
  background-image: url(../img/signBG.jpg);
  width: 100%;
  z-index: 999;
}

.bgBlur:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  z-index: -1;
}

.logo-img {
  width: 175px;
  height: 55px;
  filter: blur(0px);
  margin-top: 20px;
  margin-left: 20px;
}

.modiIf {
  position: absolute;
  background-color: rgb(9 7 7);
  display: flex;
  flex-direction: column;
  padding: 50px 68px 40px;
  width: 450px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modiIfForm>h2 {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}

.modiIf-content {
  width: 100%;
  margin: 10px 0;
  height: 50px;
  padding: 16px;
  border-radius: 4px;
  border: 0;
  background: #333;
  color: #ffffff;
}

.iconInput {
  position: relative;
}

.penIcon,
.penIcon2 {
  color: #fff;
  position: absolute;
  top: 26px;
  right: 15px;
  cursor: pointer;
}

.penIcon:hover,
.penIcon2:hover {
  color: rgb(160, 160, 160);
}

.activeColor {
  background-color: #646464;
  caret-color: #ffffff;
}

.activeColor::placeholder {
  color: rgb(216, 216, 216);
}

.activePenColor {
  color: rgb(160, 160, 160);
}

.errorColor {
  border: 3px solid #800000;
}

.changedColor {
  border: 3px solid rgb(27, 102, 4);
}

.alert {
  text-indent: 12px;
  color: red;
  font-size: 12px;
}

.modiIf-bt {
  display: inline-block;
  width: 47%;
  height: 45px;
  font-size: 16px;
  color: #ffffff;
  background: #e50914;
  border: 0;
  border-radius: 4px;
  margin-top: 16px;
  cursor: pointer;
}

.modiIf-bt:hover {
  background: #ff4500;
  text-decoration: underline;
}

.disabledBt {
  background: #a1a1a1;
}

.disabledBt:hover {
  background: #a1a1a1;
}

.cancle-bt {
  background-color: #444444;
}

.cancle-bt:hover {
  background-color: #5e5e5e;
}

.preference {
  margin: 16px auto 12px;
  width: 100%;
  /* 원하는 너비설정 */
  padding: 12px;
  /* 여백으로 높이 설정 */
  border: 1px solid #999;
  border-radius: 4px;
}

.completedMessage {
  margin-top: 15px;
}

.pwMessage,
.nameMessage {
  display: none;
  color: white;
  margin-top: 10px;
  opacity: 0.8;
  /* padding-left: 0; */
}

.bt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.active {
  display: block;
}