body {
  margin: 0px;
  background-color: rgb(248, 248, 248);
  box-sizing: border-box;
}

.title__item {
  margin-right: 15px;
}

.title__item a {
  text-decoration: none;
  color: rgb(126, 126, 126);
}

.navigationMargin {
  margin: 0 99.6px;
  height: 100%;
}

.navigationBar__items {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  /* width: 100%; */
  padding: 0px;
  list-style: none;
  margin: 0px;
  height: 62px;
}

.navigationBar {
  display: flex;
  /* justify-content: space-around; */
  height: 62px;
  width: 100%;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.theme__item {
  display: flex;
  font-size: 15px;
  list-style: none;
  padding: 0;
}

.movie,
.tv,
.book {
  margin-left: 24px;
}

.theme__item a {
  text-decoration: none;
  color: rgb(126, 126, 126);
}

.searchs {
  display: flex;
  background-color: #f5f5f7;
  width: 275px;
  height: 23px;
  padding: 7px 10px 8px 15px;
}

.search__item {
  margin-left: auto;
  height: 62px;
}

.searchBar {
  width: 254px;
  height: 23.4px;
  background-color: #f5f5f7;
  border: none;
  margin-left: 8px;
}

.score a {
  text-decoration: none;
  color: rgb(126, 126, 126);
}

.score .fa-star {
  display: none;
}

.mypage a i {
  font-size: 28px;
}

.score,
.mypage {
  margin-left: 24px;
}

.explanation {
  height: 100%;
  margin: 26px 0 30px;
  margin-top: 88px;
}

.explanation__border {
  background-color: rgb(255, 255, 255);
  width: 638px;
  height: 616px;
  margin: 0px auto;
  border-radius: 12px;
}

.top_page {
  background: url(https://d2rlq84xifqisi.cloudfront.net/images/mypagePatternResize.2e73487f09488acbeb2d.jpg);
  /* background-color: pink; */
  height: 204px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.top_page .pageBox {
  width: 638px;
  height: 44px;
  position: relative;
  border-radius: 12px;
  background-image: linear-gradient(
    -180deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.top_page button {
  color: rgb(138, 132, 132);
  border: none;
  background-color: transparent;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.top_page button:hover {
  cursor: pointer;
}

#middleLike {
  position: absolute;
  top: 270px;
  width: 638px;
}

.introduction {
  margin: auto;
  width: 598px;
  height: 117px;
  padding-bottom: 26px;
}

.introduction_items {
  padding: 0;
  list-style: none;
  margin: 0px;
}

.introduction_items h1 {
  display: inline;
  font-size: 25px;
}

.introduction_items .profile__no {
  font-size: 15px;
  font-weight: 100;
  margin-top: 5px;
}

.introduction_items .fa-user-circle {
  font-size: 56px;
}

.css-1rvu9sa-Badge {
  display: inline-block;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTQuNzcwNDYgMC41NjI0NTlDNS4yNDMyOCAtMC4xNTY0MzIgNi4zMTE0NyAtMC4xOTMwNyA2LjgzNTM1IDAuNDkyMTU1QzcuMTczMzcgMC45MzM3ODggNy43NzM4NSAxLjEwMTEzIDguMzAxODEgMC45MDAxMjFDOS4xMTk4IDAuNTg4MjA1IDEwLjAwNjIgMS4xNjc0OCAxMC4wMTQ0IDIuMDIxMDRDMTAuMDE5NSAyLjU2OTYxIDEwLjQwNTUgMy4wNDc4OCAxMC45NTM5IDMuMTg1NTJDMTEuODA0NiAzLjM5OTQxIDEyLjE3MDIgNC4zNzQ3NiAxMS42NjA2IDUuMDY4OUMxMS4zMzE4IDUuNTE2NDggMTEuMzUzMiA2LjEyMTQ5IDExLjcxMzcgNi41NDYyOUMxMi4yNzIzIDcuMjA0NzggMTEuOTc3MiA4LjIwMTkyIDExLjE0MzggOC40NzIyNUMxMC42MDY3IDguNjQ3NTIgMTAuMjU3NCA5LjE1MDU0IDEwLjI5MTEgOS42OTkxMkMxMC4zNDQyIDEwLjU0OTcgOS41MDE3NCAxMS4xODc0IDguNjYzMzIgMTAuOTMxOUM4LjEyMjA4IDEwLjc2NzYgNy41MzQ4OCAxMC45NzQ1IDcuMjI5NTQgMTEuNDM3OUM2Ljc1NjcyIDEyLjE1NjggNS42ODc1MSAxMi4xOTI1IDUuMTY0NjUgMTEuNTA4MkM0LjgyNjYzIDExLjA2NTYgNC4yMjYxNSAxMC44OTgzIDMuNjk4MTkgMTEuMTAwM0MyLjg4MDIgMTEuNDEyMiAxLjk5Mzc4IDEwLjgzMTkgMS45ODQ1OSA5Ljk4MDM0QzEuOTgwNTEgOS40Mjk3OCAxLjU5NTUxIDguOTUyNSAxLjA0NjEgOC44MTM4N0MwLjE5NTQyOCA4LjU5OTk5IC0wLjE3MDE2NiA3LjYyNjYxIDAuMzM5NDE5IDYuOTMyNDdDMC42NjgyNDkgNi40ODM5MSAwLjY0NjgwNCA1Ljg3NzkgMC4yODYzMTYgNS40NTMxQy0wLjI3MjI4NyA0Ljc5NDYxIDAuMDIyODQzIDMuNzk5NDUgMC44NTYxNTIgMy41MjcxNUMxLjM5MzMxIDMuMzUyODcgMS43NDM1OSAyLjg1MDgzIDEuNzA4ODYgMi4zMDEyN0MxLjY1NTc2IDEuNDUwNjggMi40OTgyNiAwLjgxMTk5MiAzLjMzNjY4IDEuMDY4NDZDMy44Nzc5MiAxLjIzMjgzIDQuNDY1MTIgMS4wMjU4OCA0Ljc3MDQ2IDAuNTYyNDU5WiIgZmlsbD0iIzBFMEYxMCIvPgogIDxwYXRoIGQ9Ik03LjY5NzMzIDIuNDUwMkw3LjI4NjEyIDcuNzkzOTJMNy4xNzc3NCA3Ljc5ODI4TDYuNDUyMjYgMy45Nzk3NUg1LjI2MTIzTDQuNjY1NTggNy44OTE1N0w0LjUzNTc1IDcuODk2OEwzLjk1MDk2IDMuOTc5NzVIMi41TDMuODEwMjcgOS43MTU4Mkw1LjMxNTI4IDkuNjE0MzlMNS44NDU3NCA1Ljk3MTdINS45NjQ5OEw2LjU2MDM1IDkuNTMwMTFMOC4wNzY1MSA5LjQyNzIzTDkuMTA1MTEgMi40NTAySDcuNjk3MzNaIiBmaWxsPSIjRkYwNTU4Ii8+Cjwvc3ZnPgo=) 
  center center / contain no-repeat;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  /* margin: 0px 0px 0px 3px; */
}

.fa-chart-bar {
  width: 100%;
  color: black;
}

.chart{
  display: inline-block;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxwYXRoIGZpbGw9IiNFRjY5MkUiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTEuMTggMTEuOTZoMy43NHY4LjM2SDEuMTh6TTE1Ljc1IDE2LjgzaDMuNzR2My40OWgtMy43NHpNNi4wNCA5LjEyaDMuNzR2MTEuMkg2LjA0ek0xMC45IDEzLjg0aDMuNzR2Ni40OEgxMC45eiIvPgogICAgICAgIDxwYXRoIGZpbGw9IiNGRkNBMjIiIGQ9Ik0xNy40NCAxLjM3bDEuNjYgNCA0LjMxLjM0LTMuMjggMi44MSAxIDQuMjEtMy42OS0yLjI2LTMuNjkgMi4yNiAxLjAxLTQuMjEtMy4yOS0yLjgxIDQuMzItLjM0eiIvPgogICAgPC9nPgo8L3N2Zz4K) no-repeat center;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin: 0 0 0 12px;
}


.preference {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  height: 48px;
}

.preference a i {
  padding-top: 15px;
  margin-left: 20px;
}

.like__items {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.like__items ul {
  margin: 8px;
}

.like__items .third {
  margin-top: 105px;
  font-size: 13px;
}

.item__movie {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYyIiBoZWlnaHQ9IjE2MiIgdmlld0JveD0iMCAwIDE2MiAxNjIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF81NDE6NTA2MTEpIj4KPGcgb3BhY2l0eT0iMC4yIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNDYuMDgzIDg4LjM3NUg1Ni45MTY2QzU0LjQ2NDUgODguMzc1IDUyLjQ1ODMgOTAuMzgxMiA1Mi40NTgzIDkyLjgzMzNWMTY0LjE2N0M1Mi40NTgzIDE2Ni42MTkgNTQuNDY0NSAxNjguNjI1IDU2LjkxNjYgMTY4LjYyNUgxNDYuMDgzQzE0OC41MzUgMTY4LjYyNSAxNTAuNTQyIDE2Ni42MTkgMTUwLjU0MiAxNjQuMTY3VjEzMS44NDRWMTI1LjE1NlY5Mi44MzMzQzE1MC41NDIgOTAuMzgxMiAxNDguNTM1IDg4LjM3NSAxNDYuMDgzIDg4LjM3NVpNMTQzLjg1NCAxMDYuNzQzSDEzMy44MjNWOTUuMDYyNUgxNDMuODU0VjEwNi43NDNaTTEyNy4xMzUgMTYxLjkzN0g3NS44NjQ1VjEzMS44NDRIMTI3LjEzNVYxNjEuOTM3Wk02OS4xNzcgMTI1LjE1Nkg1OS4xNDU4VjExMy40MzFINjkuMTc3VjEyNS4xNTZaTTU5LjE0NTggMTMxLjg0NEg2OS4xNzdWMTQzLjUyNUg1OS4xNDU4VjEzMS44NDRaTTc1Ljg2NDUgMTI1LjE1NlY5NS4wNjI1SDEyNy4xMzVWMTI1LjE1Nkg3NS44NjQ1Wk02OS4xNzcgOTUuMDYyNVYxMDYuNzQzSDU5LjE0NThWOTUuMDYyNUg2OS4xNzdaTTU5LjE0NTggMTUwLjI1N0g2OS4xNzdWMTYxLjkzN0g1OS4xNDU4VjE1MC4yNTdaTTEzMy44MjMgMTYxLjkzN1YxNTAuMjU3SDE0My44NTRWMTYxLjkzN0gxMzMuODIzWk0xNDMuODU0IDE0My41NjlIMTMzLjgyM1YxMzEuODQ0SDE0My44NTRWMTQzLjU2OVpNMTMzLjgyMyAxMjUuMTU2VjExMy40MzFIMTQzLjg1NFYxMjUuMTEySDEzMy44MjNWMTI1LjE1NloiIGZpbGw9IiMwMEI1MDkiLz4KPC9nPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzU0MTo1MDYxMSI+CjxyZWN0IHdpZHRoPSIxNjIiIGhlaWdodD0iMTYyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=);
  background-color: rgb(113, 236, 170);
  min-height: 100%;
  background-position: center;
  background-size: cover;
  width: 192px;
  height: 192px;
  border: 2px;
  border-radius: 8px;
}

.item__movie a {
  text-decoration: none;
}

.item__movie ul {
  list-style: none;
  padding: 0;
  height: 100%;
}

.item__tv {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYyIiBoZWlnaHQ9IjE2MiIgdmlld0JveD0iMCAwIDE2MiAxNjIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF81NDE6NTA2MTQpIj4KPGcgb3BhY2l0eT0iMC4yIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01OS4xNDU4IDkwLjYwNDFWMTQ4LjU2MkgxNDMuODU0VjkwLjYwNDFINTkuMTQ1OFpNNTYuOTE2NiA4My45MTY2QzU0LjQ1NDMgODMuOTE2NiA1Mi40NTgzIDg1LjkxMjcgNTIuNDU4MyA4OC4zNzVWMTUwLjc5MkM1Mi40NTgzIDE1My4yNTQgNTQuNDU0MyAxNTUuMjUgNTYuOTE2NiAxNTUuMjVIMTQ2LjA4M0MxNDguNTQ2IDE1NS4yNSAxNTAuNTQyIDE1My4yNTQgMTUwLjU0MiAxNTAuNzkyVjg4LjM3NUMxNTAuNTQyIDg1LjkxMjcgMTQ4LjU0NiA4My45MTY2IDE0Ni4wODMgODMuOTE2Nkg1Ni45MTY2Wk03NS44NjQ2IDE2OS43NEM3NS44NjQ2IDE2Ny44OTMgNzcuMzYxNiAxNjYuMzk2IDc5LjIwODMgMTY2LjM5Nkg5OC4xNTYyVjE1NS4yNUgxMDQuODQ0VjE2Ni4zOTZIMTIzLjc5MkMxMjUuNjM4IDE2Ni4zOTYgMTI3LjEzNSAxNjcuODkzIDEyNy4xMzUgMTY5Ljc0QzEyNy4xMzUgMTcxLjU4NiAxMjUuNjM4IDE3My4wODMgMTIzLjc5MiAxNzMuMDgzSDEwNC44NDRIOTguMTU2Mkg3OS4yMDgzQzc3LjM2MTYgMTczLjA4MyA3NS44NjQ2IDE3MS41ODYgNzUuODY0NiAxNjkuNzRaIiBmaWxsPSIjQTM3NDMzIi8+CjxwYXRoIGQ9Ik05NC4xNzY2IDEwOC4wNTVDOTIuNjkwOCAxMDcuMTY0IDkwLjgwMDUgMTA4LjIzNCA5MC44MDA1IDEwOS45NjdWMTMxLjUxOEM5MC44MDA1IDEzMy4yNSA5Mi42OTA4IDEzNC4zMjEgOTQuMTc2NiAxMzMuNDI5TDExMi4xMzYgMTIyLjY1NEMxMTMuNTc5IDEyMS43ODggMTEzLjU3OSAxMTkuNjk3IDExMi4xMzYgMTE4LjgzMUw5NC4xNzY2IDEwOC4wNTVaIiBmaWxsPSIjQTM3NDMzIi8+CjwvZz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF81NDE6NTA2MTQiPgo8cmVjdCB3aWR0aD0iMTYyIiBoZWlnaHQ9IjE2MiIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K);
  background-color: rgb(237, 160, 115);
  min-height: 100%;
  background-position: center;
  background-size: cover;
  width: 192px;
  height: 192px;
  border: 2px;
  border-radius: 8px;
}

.item__tv ul {
  list-style: none;
  padding: 0;
  height: 100%;
}

.item__tv a {
  text-decoration: none;
}

.item__book {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYyIiBoZWlnaHQ9IjE2MiIgdmlld0JveD0iMCAwIDE2MiAxNjIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF81NDE6NTA2MjgpIj4KPGcgb3BhY2l0eT0iMC4yIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01Mi43NTU0IDkyLjc5NjVDNTIuNzU1NCA4OC41NTI3IDU2LjIwNTIgODUuMTA1OCA2MC40NDYgODUuMTA1OEg4OC4zODQ4QzkzLjg3NjggODUuMTA1OCA5OC43NDA0IDg3Ljc4NjMgMTAxLjc2IDkxLjg5NjZDMTA0Ljc4MSA4Ny43ODY3IDEwOS42NDMgODUuMTA1OCAxMTUuMTM1IDg1LjEwNThMMTQzLjA3NCA4NS4xMDU4QzE0Ny4zMTcgODUuMTA1OCAxNTAuNzY0IDg4LjU1MyAxNTAuNzY0IDkyLjc5NjVWMTUzLjUxQzE1MC43NjQgMTU3Ljc1MSAxNDcuMzE4IDE2MS4yMDEgMTQzLjA3NCAxNjEuMjAxSDExNS4xMzVDMTEwLjQwNSAxNjEuMjAxIDEwNi4yMzEgMTY0LjU2NCAxMDUuMjI0IDE2OS4xODRDMTA0Ljg5NSAxNzAuNjk4IDEwMy41NTQgMTcxLjcyOSAxMDIuMDY3IDE3MS43MjlDMTAxLjk1NyAxNzEuNzI5IDEwMS44NTIgMTcxLjcyMSAxMDEuNzYxIDE3MS43MTJDMTAxLjY2OSAxNzEuNzIyIDEwMS41NjQgMTcxLjcyOSAxMDEuNDU0IDE3MS43MjlDOTkuOTY2NCAxNzEuNzI5IDk4LjYyNiAxNzAuNjk3IDk4LjI5NzcgMTY5LjE4Qzk3LjI5NjggMTY0LjU2NSA5My4xMjI4IDE2MS4yMDEgODguMzg0OCAxNjEuMjAxSDYwLjQ0NkM1Ni4yMDQ4IDE2MS4yMDEgNTIuNzU1NCAxNTcuNzUxIDUyLjc1NTQgMTUzLjUxVjkyLjc5NjVaTTU5LjIyIDkxLjU3MDRDNTkuMjIgOTEuNTcwNCA1OS4yMiA5Mi4xMjAxIDU5LjIyIDkyLjc5NjVWMTUzLjUxQzU5LjIyIDE1NC4xODUgNTkuMjIgMTU0LjczNiA1OS4yMiAxNTQuNzM2SDg4LjM4NDhDOTIuMTcwNCAxNTQuNzM2IDk1LjcwMzIgMTU2LjA1NiA5OC41Mjk4IDE1OC4yNjZWMTAxLjc5N0M5OC41Mjg0IDEwMS43NzIgOTguNTI3NSAxMDEuNzQ0IDk4LjUyNzUgMTAxLjcxM1YxMDEuNzA1Qzk4LjUyMzcgOTYuMTE3NiA5My45NzQ2IDkxLjU3MDQgODguMzg0OCA5MS41NzA0SDU5LjIyWk0xMDQuOTk0IDEwMS42ODFWMTU4LjI2NkMxMDcuODIgMTU2LjA1NiAxMTEuMzUxIDE1NC43MzYgMTE1LjEzNSAxNTQuNzM2SDE0NC4zQzE0NC4zIDE1NC43MzYgMTQ0LjMgMTU0LjE4NCAxNDQuMyAxNTMuNTFWOTEuNTcwNEMxNDQuMyA5MS41NzA0IDE0My43NDkgOTEuNTcwNCAxNDMuMDc0IDkxLjU3MDRIMTE1LjEzNUMxMDkuNTUyIDkxLjU3MDQgMTA1LjAxMSA5Ni4xMDM5IDEwNC45OTQgMTAxLjY4MVoiIGZpbGw9IiMzNTkzQjgiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik02NS44MzMzIDEwNi45NTFDNjUuODMzMyAxMDUuMzEgNjcuMTUzNyAxMDMuOTc5IDY4Ljc4MjYgMTAzLjk3OUg4OC40NDVDOTAuMDczOSAxMDMuOTc5IDkxLjM5NDQgMTA1LjMxIDkxLjM5NDQgMTA2Ljk1MUM5MS4zOTQ0IDEwOC41OTMgOTAuMDczOSAxMDkuOTI0IDg4LjQ0NSAxMDkuOTI0SDY4Ljc4MjZDNjcuMTUzNyAxMDkuOTI0IDY1LjgzMzMgMTA4LjU5MyA2NS44MzMzIDEwNi45NTFaIiBmaWxsPSIjMzU5M0I4Ii8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNjUuODMzMyAxMzguMTZDNjUuODMzMyAxMzYuNTE4IDY3LjE1MzcgMTM1LjE4OCA2OC43ODI2IDEzNS4xODhIODguNDQ1QzkwLjA3MzkgMTM1LjE4OCA5MS4zOTQ0IDEzNi41MTggOTEuMzk0NCAxMzguMTZDOTEuMzk0NCAxMzkuODAxIDkwLjA3MzkgMTQxLjEzMiA4OC40NDUgMTQxLjEzMkg2OC43ODI2QzY3LjE1MzcgMTQxLjEzMiA2NS44MzMzIDEzOS44MDEgNjUuODMzMyAxMzguMTZaIiBmaWxsPSIjMzU5M0I4Ii8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNjUuODMzMyAxMjIuNTU2QzY1LjgzMzMgMTIwLjkxNCA2Ny4xNTM3IDExOS41ODMgNjguNzgyNiAxMTkuNTgzSDg4LjQ0NUM5MC4wNzM5IDExOS41ODMgOTEuMzk0NCAxMjAuOTE0IDkxLjM5NDQgMTIyLjU1NkM5MS4zOTQ0IDEyNC4xOTcgOTAuMDczOSAxMjUuNTI4IDg4LjQ0NSAxMjUuNTI4SDY4Ljc4MjZDNjcuMTUzNyAxMjUuNTI4IDY1LjgzMzMgMTI0LjE5NyA2NS44MzMzIDEyMi41NTZaIiBmaWxsPSIjMzU5M0I4Ii8+CjwvZz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF81NDE6NTA2MjgiPgo8cmVjdCB3aWR0aD0iMTYyIiBoZWlnaHQ9IjE2MiIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K);
  background-color: rgb(100, 211, 244);
  min-height: 100%;
  background-position: center;
  background-size: cover;
  width: 192px;
  height: 192px;
  border: 2px;
  border-radius: 8px;
}

.item__book ul {
  list-style: none;
  padding: 0;
  height: 100%;
}

.item__book a {
  text-decoration: none;
}

.foot__like {
  color: white;
  background-color: black;
  padding: 20px;
  text-align: center;
}

.provision {
  list-style: none;
  display: flex;
  font-size: 13px;
  margin: 0;
  height: 21.6px;
  color: #a5a5a7;
  padding: 0;
}

.provision .middle {
  padding: 0;
}

.provision .middle::after {
  content: "|";
  margin: 5px 8px 0 8px;
}

.foot__bottom {
  padding: 20px 0 38px;
  background-color: #1c1d1f;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.foot__text {
  width: 983px;
  height: 156px;
}

.footTop {
  width: 868px;
  margin-right: 0;
}

.foot__text .first::after {
  content: "|";
  margin: 5px 8px 0 8px;
}

.footMiddle {
  margin: 12px 0 0;
}

.footBottom {
  margin: 13px 0 0;
}

.sns {
  width: 100%;
  width: 117px;
  height: 100%;
  height: 156px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sns__btn {
  width: 117px;
  height: 30px;
  background-color: #1c1d1f;
  color: #a5a5a7;
  border: 1px solid #a5a5a7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sns__btn:hover {
  cursor: pointer;
}

.sns ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 20px 0 0 0;
}

.sns li {
  padding-left: 14px;
}

.sns .fab {
  font-size: 24px;
  color: #a5a5a7;
}

.foot__items {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 8px 0 4px 0;
}

.foot__items a {
  text-decoration: none;
  color: inherit;
}

.responsive_foot {
  display: none;
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
  border-top: 1px solid #d2d2d2;
}

/* 검색창 삭제 */
@media screen and (max-width: 1038px) {
  .score span {
    display: none;
  }

  .navigationMargin {
    margin: 0 auto;
  }

  .score .fa-star {
    display: block;
  }
}

@media screen and (max-width: 770px) {
  header {
    display: none;
  }
  .top_page {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .top_page .pageBox {
    background-image: none;
    width: 100%;
  }
  .explanation__border {
    width: 100%;
  }
  .explanation {
    margin: 0;
    border-bottom: 1px solid #babac3;
  }
  #middleLike {
    top: 185px;
    width: 100%;
  }
  .basic__foot {
    display: none;
  }
  .responsive_foot {
    display: block;
  }
  .introduction {
    margin-left: 16px;
  }
}
