.contents_contents_container {
    margin-top: 0px;
    margin-left: 13px;
    display: flex;
    }

.contents_contents_content {
    display: flex;
    flex-direction: column;
}

.contents_contents_profile {
    display: flex;
    align-items: center;
    padding: 8px 4px;
    
}

.profile_img {
    position: relative;
    width: 50px;
    height: auto;
    border-radius: 5px !important;;
    margin-right: 15px;
    background-size: cover
}

.contents_contents_profile div {
    display: flex;
    flex-direction: column;
    width: 210px;
    border-bottom: 1px solid #F8F8F8;
    padding-bottom: 15px;
}

.profile_name {

    font-size: 16px;
    margin-bottom: 8px;
}

.profile_job {
    font-size: 14px;
    color: rgb(131, 131, 131);
}