.first_contents-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.contents-box {
    width: 100%;
    display: flex;
    justify-content: center;
    /* height: 600px; */
    /* padding-top: auto; */
}

.contents {
    width: 87%;
    margin: 0px 0px 0px 0px;
}

.contents_title {
    display: -webkit-box;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 60px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 29px;
    font-size: 22px;
    font-weight: 700;
}

.movie_contents_box{
    list-style: none;
    padding: 0;
    white-space: nowrap;
    margin-right: -4px !important;
    margin-left: -4px !important;
    margin: 0;
}

.movie_contents{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0 0 24px;
}


.type1-content{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 145.37037037037038%;
}

.type1-contents_contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.type1-content-box {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid #eae9e8;
    border-radius: 5px;
    background: #f8f8f8;
    transition: 300ms;
}


.type1-content-box a img {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
    transition: opacity 420ms ease 0s;
    border-style: none;
}

.movie_img{
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
    transition: opacity 420ms ease 0s;
}

@media (max-width: 1290px) {
    .type1-content-box a img {
      width: 100%;
    }
  }
  

.type1-content_title {
    color: #292a32;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
}

.type1-content_year {
    display: block;
    color: #292a32;
    padding-bottom: 1px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 21px;
}

.type1-content_star {
    display: block;
    color: #74747b;
    white-space: normal;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 18px;
    margin-top: 5px;
}

.type1-content_info {
    font-size: 12px;
    margin-top: 5px;
}

.type1-content_number {
    top: 6px;
    left: 6px;
    width: 28px;
    height: 28px;
    line-height: 27px;
    position: absolute;
    bottom: 3px;
    left: 3px;
    background-color: rgba(0, 0, 0, 0.77);
    color: rgb(255, 255, 255);
    font-weight: 700;
    letter-spacing: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    opacity: 1;
    transition: opacity 300ms ease 0s;
}


